.Main {
  padding: 0 40px 20px 40px
}

.Main .site-wrapper {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-column-gap: 30px;
}

/* Profile */
.Main__about-wrapper {
  display: grid;
  grid-template-columns: 380px 1fr;
  grid-column-gap: 30px;
}

/* Messages */
.Main__messages-wrapper {
  display: grid;
  grid-template-columns: 316px 1fr;
  padding-top: 20px;
}
