.Senders__item a {
  position: relative;
  display: flex;
  padding: 5px 10px 5px 10px;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
}

.Senders__item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 79%;
  height: 1px;
  background-color: var(--dialogs-border-cr);
  transition: width 0.3s;
}

/* :hover */
.Senders__item:hover a::before {
  width: 100%;
}

.Senders__image {
  width: 46px;
  height: 46px;
  margin-right: 10px;
  border-radius: 50%;
}

.Senders__item-user {
  padding-top: 5px;
  font-size: 13px;
  line-height: 20px;
}
