:root {
  /* color */
  --b: #000000;
  --w: #ffffff;
  --preview-cr: #385898;
  --sidebar-cr: #285473;
  --about-span-cr: grey;
  --dialogs-border-cr: #c7d4e2;
  --message-cr: #42648b;
  --message-intro-cr: #929eb0;

  /* bg */
  --main-bg: #e9ebee;
  --header-bg: #4267b2;
  --messages-feld-bg: #fafbfc;

  /* fonts */
  --OpenSans: "OpenSans", "Arial", sans-serif;
  --OpenSansCondensed: "OpenSansCondensed", "Arial", sans-serif;

  /* @media */
  --media-dt: 1023px;
  --media-tb: 767px;
  --media-mb: 320px;

  /* retina */
  --retina-dpi: 144dpi;
  --retina-dppx: 1.5dppx;
}
