.Messages__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 13px;
  line-height: 16px;
  color: var(--message-intro-cr);
}

.Messages__intro-description {
  position: relative;
  padding-top: 86px;
  text-align: center;
}

.Messages__intro-description::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  width: 69px;
  height: 66px;
  background-image: url("../../img/dialog-icon.png");
  transform: translateX(-50%);
}

.Messages__intro-description a {
  display: block;
  padding-top: 7px;
  font-size: 12px;
  line-height: 16px;
  color: var(--message-cr);
}

/* hover */
.Messages__intro-description a:hover {
  text-decoration: underline;
}
